In [2]:
import pandas as pd
import numpy as np
from scipy.io import arff
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

In [35]:
df = arff.loadarff('../data/literature/literature/ALOI/ALOI.arff')

In [36]:
df = pd.DataFrame(df[0])

In [37]:
df.shape

(50000, 29)

In [38]:
df.head()

,outlier,att1,att2,att3,att4,att5,att6,att7,att8,att9,...,att19,att20,att21,att22,att23,att24,att25,att26,att27,id
0,b'yes',0.872812,0.000005,0.0,0.000036,0.0,0.0,0.0,0.0,0.0,...,0.014212,0.000104,0.0,0.025490,0.004937,0.000011,0.000054,0.006804,0.015385,1.0
1,b'yes',0.975206,0.000000,0.0,0.000651,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.004853,0.001582,0.000000,0.000000,0.000201,0.000000,2.0
2,b'yes',0.963777,0.000000,0.0,0.002005,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.007828,0.002523,0.000000,0.000393,0.003800,0.000000,3.0
3,b'yes',0.973246,0.000000,0.0,0.000556,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.004392,0.000170,0.000000,0.000000,0.000007,0.000000,4.0
4,b'yes',0.960720,0.000000,0.0,0.000656,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.010299,0.000561,0.000000,0.000084,0.000264,0.000000,5.0

In [39]:
df.outlier.value_counts()

b'no'     48492
b'yes'     1508
Name: outlier, dtype: int64

In [40]:
df = df.drop(['id'], axis=1)

In [41]:
df.shape

(50000, 28)

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
le= LabelEncoder()
le.fit(df.outlier)

LabelEncoder()

In [44]:
Y = pd.DataFrame(le.transform(df.outlier), columns=['Label'])

In [45]:
df = df.drop(['outlier'],axis=1)

In [46]:
df.shape

(50000, 27)

In [47]:
df.head()

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att18,att19,att20,att21,att22,att23,att24,att25,att26,att27
0,0.872812,0.000005,0.0,0.000036,0.0,0.0,0.0,0.0,0.0,0.050327,...,0.0,0.014212,0.000104,0.0,0.025490,0.004937,0.000011,0.000054,0.006804,0.015385
1,0.975206,0.000000,0.0,0.000651,0.0,0.0,0.0,0.0,0.0,0.007039,...,0.0,0.000000,0.000000,0.0,0.004853,0.001582,0.000000,0.000000,0.000201,0.000000
2,0.963777,0.000000,0.0,0.002005,0.0,0.0,0.0,0.0,0.0,0.006642,...,0.0,0.000000,0.000000,0.0,0.007828,0.002523,0.000000,0.000393,0.003800,0.000000
3,0.973246,0.000000,0.0,0.000556,0.0,0.0,0.0,0.0,0.0,0.008979,...,0.0,0.000000,0.000000,0.0,0.004392,0.000170,0.000000,0.000000,0.000007,0.000000
4,0.960720,0.000000,0.0,0.000656,0.0,0.0,0.0,0.0,0.0,0.013319,...,0.0,0.000000,0.000000,0.0,0.010299,0.000561,0.000000,0.000084,0.000264,0.000000

In [49]:
Y.head(2)

   Label
0      1
1      1

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from xgboost import XGBClassifier

In [68]:
X_train, X_test, y_train, y_test = train_test_split( df , Y , test_size=0.2 , random_state=42 , stratify = Y)

In [69]:
y_train.Label.value_counts()

0    38794
1     1206
Name: Label, dtype: int64

In [70]:
y_test.Label.value_counts()

0    9698
1     302
Name: Label, dtype: int64

In [77]:
param = {
                                        'max_depth': 10 ,
                                        'subsample': 0.5 ,
#                                         'colsample_bytree':hp.choice('colsample_bytree', np.arange(0.1 , 1 , 0.1)  ),
                                        'alpha': 0.2,
                                        'lambda': 0.2,
                                        'n_estimators': 100 ,
                                        'objective':'binary:logistic',
                                        'verbosity':1,
}

In [78]:
xgb = XGBClassifier(**param)

In [80]:
# xgb.fit(X_train , y_train , early_stopping_rounds=50  , eval_set=[(X_train , y_train) , (X_test,y_test)])

In [81]:
model = LogisticRegression()
model.fit(X_train, y_train.Label.ravel())

c:\users\abhishek\anaconda3\envs\my_env\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
y_tr_pred = model.predict(X_train)
y_ts_pred = model.predict(X_test)

In [83]:
print(classification_report(y_train, y_tr_pred))
print()
print(classification_report(y_test, y_ts_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98     38794
           1       0.00      0.00      0.00      1206

    accuracy                           0.97     40000
   macro avg       0.48      0.50      0.49     40000
weighted avg       0.94      0.97      0.96     40000


              precision    recall  f1-score   support

           0       0.97      1.00      0.98      9698
           1       0.00      0.00      0.00       302

    accuracy                           0.97     10000
   macro avg       0.48      0.50      0.49     10000
weighted avg       0.94      0.97      0.95     10000

c:\users\abhishek\anaconda3\envs\my_env\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)